<html>
<head>
<title>添加书目</title>
<style type="text/css">
            h1{color:#AB82FF} body{background-color:#CAE1FF}
</style>
</head>
<body>
<h1>
        <div style="left: 850px; position: absolute; top: 100px;">
            <big>
                添加书目
            </big>
        </div>
</h1>
<form method="post">
 {% csrf_token %}
	<table border="1" style="float:left;margin-top:200px;margin-left:500px;color:#7A67EE">
	<tr>
		<th>
			ISBN
		</th>
		<th>
			书名
		</th>
		<th>
			出版商
		</th>
		<th>
			出版日期
		</th>
		<th>
			价格
		</th>
	</tr>
	<tr>
		<td>
			<input name="isbn" type="text">
		</td>
		<td>
			<input name="title" type="text">
		</td>
		<td>
			<input name="publisher" type="text">
		</td>
		<td>
			<input name="publishdate" type="text">
		</td>
		<td>
			<input name="price" type="text">
		</td>
		<td>
			<input type="submit" value="保存"><input type="reset" value="重填">
		</td>
	</tr>
	</table>
    <div style="left: 1300px; position: absolute; top: 300px;">
        <input type="button" name="Submit" onclick="javascript:history.back(-1);"
        value="返回上一页">
    </div>
<div style="left: 10px; position: absolute; top: 10px;">
   <a href="http://127.0.0.1:8000/search/">返回首页</a>
</div>
</body>
</form>
</html>